:root {
  --color-red: rgb(255, 173, 173);
  --color-orange: rgb(255, 214, 165);
  --color-yellow: rgb(253, 255, 182);
  --color-green: rgb(202, 255, 191);
  --color-cyan: rgb(155, 246, 255);
  --color-blue: rgb(160, 196, 255);
  --color-purple: rgb(189, 178, 255);
  --color-pink: rgb(255, 198, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
}

.red {
  --color: var(--color-red);
}

.orange {
  --color: var(--color-orange);
}

.yellow {
  --color: var(--color-yellow);
}

.green {
  --color: var(--color-green);
}

.cyan {
  --color: var(--color-cyan);
}

.blue {
  --color: var(--color-blue);
}

.purple {
  --color: var(--color-purple);
}

.pink {
  --color: var(--color-pink);
}
